<!DOCTYPE html>
<html lang="en">
<!-- Header -->
<%- include('layouts/header'); -%>

    <body>
        <!-- Navigation/navbar-->
        <%- include('layouts/navbar'); -%>
            <!-- Page Header-->
            <header class="masthead" style="background-image: url('/assets/img/pageNotFound.jpg')">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="page-heading">
                                <h1>404 page not found</h1>
                                <span class="subheading">The page you are looking for does not exist</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Footer-->
            <%- include('layouts/footer'); -%>
                <!-- Scripts -->
                <%- include('layouts/scripts'); -%>
    </body>

</html>